.card-back {
    background-image: url("/public/images/bg-card-back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translateX(25%);
    border-radius: 1.3em;
}

@media screen and (max-width: 794px){
    .card-back {
        transform: translateX(0%);
    }
}

.card-CVC {
    transform: translateX(84%) translateY(45%);
    height: 100%;
    color: var(--White);
    font-family: 'Space Grotesk', sans-serif;
    pointer-events: none;
}